<div class="text-center text-white py-5" *ngIf="this.label=='work'; else elseBlock">
  <h1> {{ name }} </h1>
  <div>
    <h1> {{ timeLeft * 1000 | date:'mm:ss'}} </h1>
  </div>
 <button class="btn btn-lg text-white" (click)='resetTimer()'><fa-icon [icon]="faUndo"></fa-icon></button>
 <button class="btn btn-lg btn-outline-light" (click)='startOrPauseTimer()'>{{this.isStarted ? 'Pause' : 'Start'}}</button>
 <button class="btn btn-lg text-white" (click)='nextTimer()'><fa-icon [icon]="faForward"></fa-icon></button>
</div>
<ng-template #elseBlock>
  <div class="text-center text-white fs-4">
    {{name}} {{timeLeft * 1000 | date:'H:mm:ss':"+0000"}} 
    <button class="btn btn-sm text-white" (click)='resetTimer()'><fa-icon [icon]="faUndo"></fa-icon></button>
    <button *ngIf='this.isStarted' class="btn btn-sm text-white" (click)= 'startOrPauseTimer()'><fa-icon [icon]='faPause'></fa-icon></button>
    <button *ngIf='!this.isStarted' class="btn btn-sm text-white" (click)= 'startOrPauseTimer()'><fa-icon [icon]='faPlay'></fa-icon></button>
    <button class="btn btn-sm text-white" (click)='nextTimer()'><fa-icon [icon]="faForward"></fa-icon></button>
  </div>
</ng-template>

